<footer th:fragment="footer">
<link rel="stylesheet" href="/css/seller.css">
<div class="footer_body">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 text-center">
                    <a href="#" class="navbar-brand display-4">Car Dekho</a>
                    <p>Explore the best deals on cars and find your perfect ride.</p>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 text-center">
                    <h2 class="ftco-heading-2">Quick Links</h2>
                    <ul class="footer-menu">
                        <li><a href="#" class="py-2 d-block">Home</a></li>
                        <li><a href="#" class="py-2 d-block">Cars for Sale</a></li>
                        <li><a href="#" class="py-2 d-block">About Us</a></li>
                        <li><a href="#" class="py-2 d-block">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 text-center">
                    <h2 class="ftco-heading-2">Contact Us</h2>
                    <ul class="footer-contact">
                        <li><i class="icon icon-map-marker"></i>203 Fake St. Mountain View, San Francisco, California, USA</li>
                        <li><i class="icon icon-phone"></i><a href="#">+2 392 3929 210</a></li>
                        <li><i class="icon icon-envelope"></i><a href="mailto:info@yourdomain.com">info@yourdomain.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="footer-social">
                    <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                </div>
                <p>
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This website is made with
                    <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                </p>
            </div>
        </div>
    </div>
</div>
</footer>